<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 profile" *ngIf="!edit">
      <h1>Profile</h1>
      <table class="table table-striped">
        <tr>
          <td>
            Name: {{user.firstName}} {{user.lastName}}
          </td>
        </tr>
        <tr>
          <td>
            User Name: {{user.username}}
          </td>
        </tr>
        <tr>
          <td>
            Email: {{user.email}}
          </td>
        </tr>
      </table>
      <button type="button" class="btn btn-outline-primary" (click)="setEdit()">Edit</button>
      <button type="button" class="btn btn-outline-danger" (click)="deactivate()">de-activate</button>
    </div>
    <div class="col-sm-8 profile" *ngIf="edit">
      <h1>Profile</h1>
      <form>
        <table class="table table-striped" *ngIf="!updatePasssword">

          <tr>
            <td>
              First Name:
            </td>
            <td>
              <input type="text" class="form-control" required name="firstName" [(ngModel)]="edit.firstName">
            </td>
          </tr>
          <tr>
            <td>
              last Name:
            </td>
            <td>
              <input type="text" class="form-control" required name="lastName" [(ngModel)]="edit.lastName">
            </td>
          </tr>
          <tr>
            <td>
              Email:
            </td>
            <td>
              <input type="text" class="form-control" required name="email" [(ngModel)]="edit.email">
            </td>
          </tr>
          <tr>
            <td>
              User Name:
            </td>
            <td>
              <input type="text" class="form-control" required name="username" [(ngModel)]="edit.username">
            </td>
          </tr>

          <tr>
            <td>
              Password:
            </td>
            <td>
              <button class="btn btn-outline-primary" type="button" (click)="showUpdatePassword()">Update
                Password</button>
            </td>
          </tr>
          <button type="button" class="btn btn-outline-secondary" (click)="cancelEdit()">Cancel</button>
          <button type="button" class="btn btn-outline-success" (click)="saveEdit()">Save</button>
        </table>
        <table class="table table-striped" *ngIf="updatePasssword">
          <tr>
            <td>
              Password:
            </td>
            <td>
              <div class="form-group">
                <span><input [type]="show" class="passwordBox" (keyup)="maxLength()" required name="password" [(ngModel)]="editPassword">
                <button class="fa fa-eye passwordIcon" type="button"
                    title="Show Password" (click)="showPassword()"></button></span>
              </div>
            </td>
          </tr>
          <button type="button" class="btn btn-outline-secondary" (click)="showUpdatePassword()">Cancel</button>
          <button type="button" class="btn btn-outline-success" (click)="savePassword()">Save</button>
        </table>
      </form>
    </div>
  </div>
</div>
