<div class="container">
  <div class="row">
    <div class=" data" *ngIf="!selected">
      <table class="table table-striped table-hover">
        <thead class="table-dark">
          <tr>
            <td>Title</td>
            <td>Date</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let issue of issues">
            <td (click)="setSelected(issue)">{{issue.title}}</td>
            <td>{{issue.updated_at | date}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="selected">
      <table class="table table-striped">
        <thead class="table-dark">
          <tr>
            <td>Title</td>
            <td>Date</td>
            <td>User</td>
            <td>Assignee</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{selected.title}}</td>
            <td>{{selected.updated_at | date}}</td>
            <td>{{selected.user.login}}</td>
            <td *ngIf="selected.assignee">{{selected.assignee.login}}</td>
            <td *ngIf="!selected.assignee">No Assignee</td>
          </tr>
        </tbody>
      </table>
      <h4>Body:</h4>
      <p>{{selected.body}}</p>
      <button class="btn btn-outline-primary" (click)="cancelSelected()">Back</button>
    </div>
  </div>
</div>
